.TodoItem {
  background-color: var(--color-background-item);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 -1px 0 0 var(--color-text-complete);
}

.TodoItem-p {
  color: var(--color-text);
  margin: 24px 0 24px 24px;
  width: calc(100% - 120px);
  font-size: 18px;

}

.TodoItem-p--complete {
  text-decoration: line-through;
}